<h1 class="my-5 text-center">
    Contact Us
</h1>

<div class="row gx-5">
    <img src="~/Images/berrieddelight-contact.png" class="img-fluid col-5">
    <div class="col-7">
        <h1>We Highly Value Your Feedback!</h1>
        <h5>Please contact us by sending an email using the button below.</h5>
        <email address="info@@berrieddelight.com" content="Contact Us" class="btn btn-secondary"></email>
    </div>
</div>